<h1>Shit You Need to Do</h1>

<table>
  <thead>
    <tr>
      <th>Due Date</th>
      <th>Description</th>
      <th>Actions</th>

    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.due_date.strftime('%A %B %e, %Y') %></td>
        <td><%= todo.text %></td>
        <td>
          <%= link_to(edit_todo_path(todo)) do %>
              <span class="glyphicon glyphicon-edit"></span>
          <% end %>
          <%= link_to(todo, method: :delete, data: { confirm: 'Are you sure?' }) do %>
              <span class="glyphicon glyphicon-trash"></span>
          <% end %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to(new_todo_path) do %>
  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New TODO</button>
<% end %>

