<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Stupid Application</title>
    <meta name="description" content="This is a sample app with a CSRF vulnerability">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <% if ENV.has_key?('CSRF') %>
      <% if ENV['CSRF'].downcase != 'no' %>
        <%= csrf_meta_tags %>
      <% end %>
    <% else %>
      <%= csrf_meta_tags %>
    <% end %>
  </head>
  <body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Stupid Application</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><%= link_to "Home", root_path, :class => 'brand' %></li>
              <% if user_signed_in? %>
                <li><%= link_to 'Logout '+current_user.email, destroy_user_session_path, :method => :delete %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    <div class="container">
	<% flash.each do |name, msg| %>
	  <% if msg.is_a?(String) %>
	    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	      <a class="close" data-dismiss="alert">&#215;</a>
	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
	    </div>
	  <% end %>
	<% end %>
      <%= yield %>
    </div>
  
  </body>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</html>
